{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    
    <div class="breadcrumbs">
        <ol>
            <li><a href="javascript:history.go(-1);">Back</a></li>
        </ol>
    </div>

    <div class="grid-row">
        
        <div class="column-two-thirds">
            <a href="#" class="javascript:history.go(-1);">Back</a>

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                Fix the following
                </h2>
                <ul class="error-summary-list">
                    <li><a href="#error">Error page coming soon!</a></li>
                </ul>
            </div>

            <form class="form" action="" method="post">
                <div class="form-group">
                  <fieldset>

                    <legend>
                      <h4 class="heading-xlarge">Declaration</h4>
                    </legend>

                    <p class="bottom_5">I confirm that:</p>
                    <ul class="list list-bullet">
                      <li>I’ve read and understand the charges against me</li>
                      <li>I’m the person named in the Single Justice Procedure notice</li>
                      <li>the facts I’ve given are correct as far as I know</li>
                    </ul>

                    <div class="notice top_60 bottom_60">
                      <i class="icon icon-important">
                        <span class="visually-hidden">Warning</span>
                      </i>
                      <strong class="bold-medium">
                        You may be prosecuted if you make a false statement or deliberately don’t declare all relevant facts
                      </strong>
                    </div>

                    <div class="multiple-choice" class="top_0">
                      <input id="i-confirm" name="confirmation-group" type="checkbox" value="1">
                      <label for="i-confirm">I confirm</label>
                    </div>
                      
                  </fieldset>
                </div>
                
                <div class="form-group top_30">
                    <input class="button" type="submit" value="Confirm and continue">
                    <p class="top_15"><a href="javascript:history.go(-1);">Back</a></p>
                </div>

            </form>
        </div>
        
        <div class="column-third">
            <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Help and advice</h2>
            </aside>
            <nav role="navigation" aria-labelledby="subsection-title">
                <p class="font-xsmall bold">Generic text about contacting prosecutor on notice to be confirmed</p>
                
                <p class="font-xsmall bold top_30 bottom_15">Legal advice</p>
                <p class="font-xsmall">You can get help from either:</p>
                <ul class="list list-bullet font-xsmall">
                    <li><a href="#">a solicitor</a></li>
                    <li><a href="#">Citizens advice</a></li>
                </ul>
                
                <p class="font-xsmall bold top_30">For help with this online service or the court process contact SJS National Contact Centre</p>
                <p class="font-xsmall bottom_5">Telephone: 0300 303 0656</p>
                <p class="font-xsmall top_5 bottom_5">Monday to Friday 8:30am to 5pm</p>
                <p class="font-xsmall top_5"><a href="#">Find out about call charges</a></p>
            </nav>
        </div>

    </div>

</main>

{% endblock %}


