{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    
    <div class="breadcrumbs">
        <ol>
            <li><a href="javascript:history.go(-1);">Back</a></li>
        </ol>
    </div>

    <div class="grid-row">
        
        <div class="column-two-thirds">
            <form class="form" action="" method="post">
                <div class="form-group">
                    <fieldset>
                        <legend>
                            <h1 class="heading-xlarge">Find your case</h1>
                        </legend>
                        <label class="form-label" for="reference-number">
                            <span class="heading-small">Case or Unique Reference Number</span>
                        </label>
                        <input class="form-control" id="reference-number" class="reference-number" name="reference-number" value="{{ data['reference-number'] }}">
                        <details class="top_15">
                            <summary>
                                <span class="summary">Where to find this on your notice</span>
                            </summary>
                            <div class="panel panel-border-narrow">
                                <p class="bottom_60">
                                    <img src="/public/images/Where-to-find-large-2x.png" width="100%">
                                </p>
                            </div>
                        </details>    
                        <label class="form-label top_15" for="your-postcode">
                            <span class="heading-small">Your postcode, as shown on your notice</span>
                        </label>
                        <input class="form-control" id="your-postcode" type="text" name="your-postcode" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="{{ data['your-postcode'] }}">
                    </fieldset>
                </div>
                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                    <p class="top_15"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
            </form>
        </div>

        <div class="column-third">
            {% include "includes/help-and-advice-header.html" %}
            {% include "includes/help-and-advice-1.html" %}
            <!--{% include "includes/help-and-advice-2.html" %}-->
            {% include "includes/help-and-advice-3.html" %}
        </div>

    </div>

</main>

{% endblock %}


