{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="breadcrumbs">
        <ol>
            <li><a href="javascript:history.go(-1);">Back</a></li>
        </ol>
    </div>

    <div class="grid-row">
        
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Make a plea for an offence</h1>
            <p class="lede">Use this service to plead guilty or not guilty online.</p>
            <p>You must be either:</p>
            <ul class="list list-bullet">
                <li>the person charged with the offence</li>
                <li>an official representative of the company charged with the offence</li>
            </ul>
            <h2 class="heading-medium">Before you start</h2>
            <p class="bottom_0">To use this service you need:</p>
            <ul class="list list-bullet">
                <li>the Single Justice Procedure notice sent to you</li>
                <li>your National Insurance number</li>
                <li>details of your income</li>
            </ul>
            <br>
            <form class="form" action="" method="post">
                <div class="form-group">
                    <a class="button button-start" href="/find-your-case" role="button">Start now</a>
                </div>
            </form>
            
            <div class="panel panel-border-wide top_60">
                <p>This service is also available in Welsh (<a href="#">Cymraeg</a>).</p>
            </div>

        </div>

        <div class="column-third">
            {% include "includes/help-and-advice-header.html" %}
            {% include "includes/help-and-advice-1.html" %}
            {% include "includes/help-and-advice-2.html" %}
            {% include "includes/help-and-advice-3.html" %}
        </div>

    </div>

</main>

{% endblock %}


