{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    
    <div class="breadcrumbs">
        <ol>
            <li><a href="javascript:history.go(-1);">Back</a></li>
        </ol>
    </div>

    <div class="grid-row">
        
        <div class="column-two-thirds">
 
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                Fix the following
                </h2>
                <ul class="error-summary-list">
                    <li><a href="#error">You must enter your average income (after tax)</a></li>
                </ul>
            </div>
            
            <h1 class="heading-xlarge">Your income</h1>

            <form  action="" method="post">
                <div class="form-group">
                    
                    <fieldset class="inline">
                        <legend>
                            <h2 class="heading-small bottom_15">What is the frequency of your income?</h2>
                        </legend>

                        <div class="multiple-choice">
                            <input id="radio-inline-1" type="radio" name="frequency-group" value="1" {{ checked('frequency-group','1') }}>
                            <label for="radio-inline-1">Weekly</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-inline-2" type="radio" name="frequency-group" value="2" {{ checked('frequency-group','2') }}>
                            <label for="radio-inline-2">Fortnightly</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-inline-3" type="radio" name="frequency-group" value="3" {{ checked('frequency-group','3') }}>
                            <label for="radio-inline-3">Monthly</label>
                        </div>
                    </fieldset>
                    
                    <fieldset class="top_15">
                        
                        <div class="form-group form-group-error" id="plea-error">

                        <label class="form-label" for="average-income">
                            <h2 class="heading-small">Enter your average income (after tax)</h2>
                            <span class="form-hint">
                                Include earnings, pension, benefits and any other income
                            </span>
                            
                            <span class="error-message bottom_5">You must enter your average income (after tax) - for example 1357.48</span>

                        </label>
                        <div class="input-icon">
                            <i class="error-message">£</i>
                            <input class="form-control form-control-error" id="average-income" type="number" min="0.01" step="0.01" name="average-income" value="{{ data['average-income'] }}">
                        </div>
                            
                        </div>
                        
                    </fieldset>
                    
                    <fieldset class="your-employment-status stop_15">
                        <legend>
                            <h2 class="heading-small">Your employment status</h2>
                        </legend>
                        <div class="multiple-choice">
                            <input id="radio-1" type="radio" name="employment-status-group" value="1" {{ checked('employment-status-group','Employed (full or part-time)') }}>
                            <label for="radio-1">Employed (full or part-time)</label>
                        </div>
                            <div class="multiple-choice">
                            <input id="radio-2" type="radio" name="employment-status-group" value="2" {{ checked('employment-status-group','Self-employed') }}>
                            <label for="radio-2">Self-employed</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-3" type="radio" name="employment-status-group" value="3" {{ checked('employment-status-group','Unemployed') }}>
                            <label for="radio-3">Unemployed</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-4" type="radio" name="employment-status-group" value="4" {{ checked('employment-status-group','Other') }}>
                            <label for="radio-4">Other (for example, retired, student)</label>
                        </div>
                        
                        <div class="other-employment-status top_15">
                            <div class="panel panel-border-wide">
                                <p>Enter details (optional)</p>
                                <input class="form-control" id="other-employment-status" type="text" name="other-employment-status" value="{{ data['other-employment-status'] }}">
                            </div>
                        </div>

                    </fieldset>

                    <fieldset class="claiming-benefits-group inline stop_15">
                        <legend>
                            <h2 class="heading-small">Are you claiming any benefits?</h2>
                            <span class="form-hint">If you only get Child Benefit, answer 'no'</span>
                        </legend>
                        <div class="multiple-choice">
                            <input id="radio-1" type="radio" name="claiming-benefits-group" value="1" {{ checked('claiming-benefits-group','Yes') }}>
                            <label for="radio-1">Yes</label>
                        </div>
                            <div class="multiple-choice">
                            <input id="radio-2" type="radio" name="claiming-benefits-group" value="2" {{ checked('claiming-benefits-group','No') }}>
                            <label for="radio-2">No</label>
                        </div>
                    </fieldset>
                    
                    <fieldset>
                        <div class="claiming-benefits-status top_15">
                            <div class="panel panel-border-wide">
                                <label class="form-label top_0 bottom_5" for="textarea">
                                    <p>Which benefits are you claiming?</p>
                                </label>
                                <textarea class="form-control form-control-3-4" name="benefits-claimed" id="benefits-claimed" rows="5">{{ data['benefits-claimed'] }}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    
                </div>
                
                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                    <p class="top_15"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
                
            </form>
            
        </div>
        
        <div class="column-third">
            {% include "includes/help-and-advice-header.html" %}
            <!--{% include "includes/help-and-advice-1.html" %}
            {% include "includes/help-and-advice-2.html" %}-->
            {% include "includes/help-and-advice-3.html" %}
        </div>

    </div>

</main>

{% endblock %}


