{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    
    <div class="breadcrumbs">
        <ol>
            <li><a href="javascript:history.go(-1);">Back</a></li>
        </ol>
    </div>

    <div class="grid-row">
        
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Your court hearing</h1>

            <form class="form" action="" method="post">
                <div class="form-group">
                    
                    <fieldset class="inline">
                        <legend>
                            <h2 class="heading-small">Do you need an interpreter in court?</h2>
                        </legend>
                        <div class="multiple-choice">
                            <input id="radio-1" type="radio" name="interpreter-required" value="1" {{ checked('interpreter-required','Yes') }}>
                            <label for="radio-1">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-2" type="radio" name="interpreter-required" value="2" {{ checked('interpreter-required','No') }}>
                            <label for="radio-2">No</label>
                        </div>
                    </fieldset>
                    
                    <div class="interpreter-fields top_15">
                        <div class="panel panel-border-wide">
                            <p class="bottom_5">Which language?</p>
                            <span class="form-hint bottom_5">You can include sign language</span>
                            <input class="form-control" id="interpreter-language" type="text" name="interpreter-language" value="{{ data['interpreter-language'] }}">
                        </div>
                    </div>
                    
                </div>
                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                    <p class="top_15"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
            </form>
        </div>
        
        <div class="column-third">
            {% include "includes/help-and-advice-header.html" %}
            <!--{% include "includes/help-and-advice-1.html" %}
            {% include "includes/help-and-advice-2.html" %}-->
            {% include "includes/help-and-advice-3.html" %}
        </div>

    </div>

</main>

{% endblock %}


